@media screen and (max-width: 1400px) {
   #profile {
    height: 83vh;
    margin-bottom: 6rem;
   }
    
   .about-containers {
    flex-wrap: wrap;
   }

  /* #contact {
    height: 50vh;
   }

   #projects {
    height: 50vh;
   }

   #about {
    height: 50vh;
   }

   .horizontal-line {
    width: 900px;
    height: 1.2px;
    background: rgb(53, 53, 53);
    margin-left: 55px;  
}
p {
    font-size: 25px;
}

.section__text__p1 {
   font-size: 25px;
}

.nav-links {
    font-size: 20px;
}

.btn {
    font-size: 18px;
}   */

}   

@media screen and (max-width: 500px) {
    #desktop-nav {
        display: none;
    }

     .logo {
        font-size: 15px;
        margin-left: -18px; 
        font-weight: 600;
    }
    #hamburger-nav {
        display: flex;
        column-gap: 230px;
        padding: 20px 10px;
    }

    .hamburger-icon span {
        width: 60%;
        height: 2px;
        border-radius: 80%;
    }

    .hamburger-icon {
        height: 15px;    
    }

    .section_pic-container {
        display: block;
        height: 200px;
        width: 200px;
        justify-items: center;
    }

    .section_pic-container img {
        display: block;
        height: 200px;
        width: 200px;
        border-radius: 70%;
        align-self: center;  
     }

     #profile {
        display: block;
        justify-content: center;
       /* gap: 3rem; */
       line-height: 2.2rem;
        height: 40vh;
    }

    .section__text {
        align-self: center;
        text-align: center;
    }

    #experience,
    .experience-details-container {
        margin-top: 2rem;
        display: grid;
    }

    .experience-details-container .about-containers {
        display: grid;
    }

    #profile,
    .section-container {
        display: block;
    }

    section,
    .section-container {
        height: fit-content;
    
    }
    section {
        margin: 0 5%;
        align-self: center;
    }
    .section_pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }   

    .contact-info-upper-container {
        display: grid;
    }  

    .contact-info-container {
        display: grid;
    }

    .contact-icon {
        margin-left: 25px;
    }

    .email-icon {
        margin-left: 125px;
    }

    .horizontal-line {
        width: 300px;
        height: 1.2px;
        background: rgb(53, 53, 53);
        margin-left: 55px;
        
    }
}  